<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="n100_gazebo" params="name update_rate">
    <gazebo reference="${name}_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo>
      <plugin filename="libhector_gazebo_ros_imu.so" name="imu_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>${update_rate}</updateRate>
        <bodyName>${name}_link</bodyName>
        <topicName>${name}/data</topicName>
        <serviceName>${name}/service</serviceName>
        <frameId>${name}_link</frameId>
        <gaussianNoise>0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rateOffset>0 0 0.01</rateOffset>
        <rpyOffset>0 0 0</rpyOffset>
      </plugin>
      <plugin filename="libhector_gazebo_ros_magnetic.so" name="magnetic_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>${update_rate}</updateRate>
        <bodyName>${name}_link</bodyName>
        <topicName>${name}/mag</topicName>
        <frameId>${name}_link</frameId>
        <useMagneticFieldMsgs>true</useMagneticFieldMsgs>
        <magnitude>0.000047</magnitude>
        <declination>-7.81</declination>
        <inclination>49.48</inclination>
        <offset>0 0 0</offset>
        <drift>0 0 0</drift>
        <driftFrequency>0 0 0</driftFrequency>
        <gaussianNoise>0 0 0</gaussianNoise>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>