<?xml version="1.0"?>
<robot name="kuroko" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="gazebo" default="false" />
  <xacro:arg name="gazebo_motor_model" default="dc" />
  <!-- <xacro:arg name="gazebo_motor_model" default="kuroko"/> -->
  <xacro:arg name="gazebo_hw_interface" default="position" />

  <xacro:include filename="$(find kuroko_description)/xacro/physics/box_physics.xacro" />

  <xacro:include filename="$(find kuroko_description)/xacro/physics/gazebo_passive_joint.xacro" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/parts/body.xacro" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/transmission/body.gazebo" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/parts/arm_r.xacro" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/transmission/arm_r.gazebo" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/parts/arm_l.xacro" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/transmission/arm_l.gazebo" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/parts/leg_r.xacro" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/transmission/leg_r.gazebo" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/parts/leg_l.xacro" />
  <xacro:include filename="$(find kuroko_description)/xacro/kuroko/transmission/leg_l.gazebo" />


  <!-- MACRO:Loading Gazebo Controllers for joints -->
  <xacro:macro name="gazebo_plugin_xacro" params="gazebo_motor_model">
    <xacro:if value="${gazebo_motor_model=='default'}">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>kuroko</robotNamespace>
          <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
          <legacyModeNS>true</legacyModeNS>
        </plugin>
      </gazebo>
    </xacro:if>
    <xacro:if value="${gazebo_motor_model=='dc'}">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_dc_motor.so">
          <robotNamespace>kuroko</robotNamespace>
          <robotSimType>gazebo_dc_motor/DefaultRobotHWSim</robotSimType>
          <legacyModeNS>false</legacyModeNS>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>

  <!-- MACRO:Setting up a Robot Model -->
  <xacro:macro name="kuroko_xacro" params="gazebo gazebo_hw_interface">
    <link name="root_link" />
    <joint name="root_joint" type="fixed">
      <parent link="root_link" />
      <child link="chest" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
    <xacro:body_xacro />
    <xacro:body_gazebo gazebo_hw_interface="${gazebo_hw_interface}" />
    <xacro:arm_r_xacro />
    <xacro:arm_r_gazebo gazebo_hw_interface="${gazebo_hw_interface}" />
    <xacro:arm_l_xacro />
    <xacro:arm_l_gazebo gazebo_hw_interface="${gazebo_hw_interface}" />
    <xacro:leg_r_xacro gazebo="$(arg gazebo)" />
    <xacro:leg_r_gazebo gazebo_hw_interface="${gazebo_hw_interface}" />
    <xacro:leg_l_xacro gazebo="$(arg gazebo)" />
    <xacro:leg_l_gazebo gazebo_hw_interface="${gazebo_hw_interface}" />
  </xacro:macro>

  <!-- Load Macros -->
  <xacro:kuroko_xacro gazebo="$(arg gazebo)"
    gazebo_hw_interface="$(arg gazebo_hw_interface)" />
  <xacro:gazebo_plugin_xacro gazebo_motor_model="$(arg gazebo_motor_model)" />
  <!-- <xacro:imu_xacro model_mode="$(arg model_mode)"/> -->
  <!-- <xacro:urg_xacro firame_id="arm_r_urg_link" topic_name="/sensor/urg/right/scan_raw"
  sensor_name="urg_right"/> -->
  <!-- <xacro:urg_xacro firame_id="arm_l_urg_link" topic_name="/sensor/urg/left/scan_raw"
  sensor_name="urg_left"/> -->

</robot>