<?xml version="1.0"?>


<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="imu_xacro" params="model_mode">
		<xacro:if value="${model_mode!='rviz'}">
			<link name="body_imu_attached_link">
				<inertial>
					<mass value="0.0005"/>
					<origin xyz="0 0 0" rpy="0 0 0"/>
					<inertia
						ixx="0.00000001"
						ixy="0.00000000" iyy="0.00000001"
						ixz="0.00000000" iyz="0.00000000" izz="0.00000001"/>
				</inertial>
			</link>
			<joint name="body_imu_attached_joint" type="revolute">
				<parent link="body_link1"/>
				<child  link="body_imu_attached_link"/>
				<origin xyz="-0.09 0 -0.0379" rpy="0 1.5708 0"/>
				<axis xyz="0 0 1"/>
				<limit effort="0.0" lower="0.0" upper="0.0" velocity="0.0"/>
				<dynamics damping="0.0" friction="0.0"/>
			</joint>

			<link name="body_imu_base_link">
				<inertial>
					<mass value="0.0005"/>
					<origin xyz="0 0 0" rpy="0 0 0"/>
					<inertia
						ixx="0.00000001"
						ixy="0.00000000" iyy="0.00000001"
						ixz="0.00000000" iyz="0.00000000" izz="0.00000001"/>
				</inertial>
			</link>
			<joint name="imu_joint" type="revolute">
				<parent link="body_link1"/>
				<child  link="body_imu_base_link"/>
				<origin xyz="-0.09 0 -0.0379" rpy="0 0 0"/>
				<axis xyz="0 0 1"/>
				<limit effort="0.0" lower="0.0" upper="0.0" velocity="0.0"/>
				<dynamics damping="0.0" friction="0.0"/>
			</joint>
		</xacro:if>


		<xacro:if value="${model_mode=='rviz'}">
			<link name="body_imu_attached_link"/>
			<joint name="body_imu_attached_joint" type="fixed">
				<parent link="body_link1"/>
				<child  link="body_imu_attached_link"/>
				<origin xyz="-0.09 0 -0.0379" rpy="0 1.5708 0"/>
			</joint>

			<link name="body_imu_base_link"/>
			<joint name="imu_joint" type="fixed">
				<parent link="body_link1"/>
				<child  link="body_imu_base_link"/>
				<origin xyz="-0.09 0 -0.0379" rpy="0 0 0"/>
			</joint>
		</xacro:if>


		<gazebo>
			<plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
				<alwaysOn>true</alwaysOn>
				<bodyName>body_imu_attached_link</bodyName>
				<topicName>/sensor/imu/raw/gazebo</topicName>
				<serviceName>gazebo_imu_service</serviceName>
				<gaussianNoise>0.0</gaussianNoise>
				<updateRate>400.0</updateRate>
			</plugin>
		</gazebo>
	</xacro:macro> 
</robot>