<?xml version="1.0"?>
<launch>
  <param name="gazebo" value="false" type="bool"/>
  <param name="gazebo_robot_name" value="kuroko"/>

  <param name="offset_file_path" value="$(find kuroko_tuning_module)/data/offset.yaml"/>
  <param name="robot_file_path" value="$(find kuroko_device_manager)/config/kuroko.robot"/>
  <param name="init_file_path" value="$(find kuroko_device_manager)/config/dxl_init_kuroko.yaml"/>
  <param name="device_name" value="/dev/ttyUSB0"/>

  <!-- kuroko Manager -->
  <node pkg="kuroko_device_manager" type="kuroko_device_manager" name="kuroko_device_manager" output="screen">
    <param name="angle_unit" value="30"/>
  </node>
</launch>
