<?xml version="1.0"?>
<launch>
  <arg name="input_topic" default="/camera/resized/image"/>
  <arg name="segmentation" default="false"/>
  <arg name="is_gazebo" default="false"/>
  <arg name="classifier_name" default="yolov8"/>
  <arg name="model_name" default="$(find kuroko_image_recognition)/trained/best.pt"/>
  <!-- <arg if="$(arg segmentation)" name="model_name" default="yolov8x-seg.pt"/> -->
  <!-- <arg unless="$(arg segmentation)" name="model_name" default="yolov8x-seg.pt"/> -->
  <arg if="$(arg is_gazebo)" name="threshold" default="0.02"/>
  <arg unless="$(arg is_gazebo)" name="threshold" default="0.4"/>
  <arg name="iou_threshold" default="0.1"/>
  <arg name="verbose" default="false"/>
  <arg name="max_detection" default="10"/>
  <arg name="classes" default=""/>
  <arg name="open_vocabulary" default=""/>
  <!-- <arg if="$(eval not segmentation and open_vocabulary == '')" name="model_name" default="yolov8x.pt"/> -->
  <!-- <arg if="$(eval not segmentation and open_vocabulary != '')" name="model_name" default="yolov8l-world.pt"/> -->

  <rosparam command="delete" param="instance_segmentation/classes"/>
  <rosparam command="delete" param="object_detection/classes"/>
  <rosparam command="delete" param="object_detection/open_vocabulary"/>

  <node if="$(arg segmentation)" name="instance_segmentation" pkg="yolov8" type="segmentation.py" output="screen">
    <rosparam param="classes" subst_value="true">$(arg classes)</rosparam>
    <param name="classifier_name" value="$(arg classifier_name)"/>
    <param name="model_name" value="$(arg model_name)"/>
    <param name="score_thresh" value="$(arg threshold)"/>
    <param name="iou_thresh" value="$(arg iou_threshold)"/>
    <param name="verbose" value="$(arg verbose)"/>
    <param name="max_detection" value="$(arg max_detection)"/>
    <remap from="~input" to="$(arg input_topic)"/>
  </node>

  <node unless="$(arg segmentation)" name="object_detection" pkg="yolov8" type="detection.py" output="screen">
    <rosparam param="classes" subst_value="true">$(arg classes)</rosparam>
    <rosparam param="open_vocabulary" subst_value="true">$(arg open_vocabulary)</rosparam>
    <param name="classifier_name" value="$(arg classifier_name)"/>
    <param name="model_name" value="$(arg model_name)"/>
    <param name="score_thresh" value="$(arg threshold)"/>
    <param name="iou_thresh" value="$(arg iou_threshold)"/>
    <param name="verbose" value="$(arg verbose)"/>
    <param name="max_detection" value="$(arg max_detection)"/>
    <remap from="~input" to="$(arg input_topic)"/>
  </node>
</launch>
