<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="usb_camera" params="name:='camera' parent:='base_link' *origin">
    <xacro:property name="mount_to_camera_offset" value="0.001"/>
    <xacro:property name="size_depth" value="0.002"/>
    <xacro:property name="size_width" value="0.01"/>
    <xacro:property name="size_height" value="0.01"/>
    <joint name="${name}_base" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
    <link name="${name}_base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${size_depth} ${size_width} ${size_height}"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <xacro:box_collision xyz="0 0 0" rpy="0 0 0" size="${size_depth} ${size_width} ${size_height}"/>
      <xacro:box_inertial xyz="0 0 0" rpy="0 0 0" size="${size_depth} ${size_width} ${size_height}" mass="0.01"/>
    </link>
    <joint name="${name}_frame" type="fixed">
      <origin xyz="${mount_to_camera_offset} 0 0" rpy="0 0 0"/>
      <parent link="${name}_base_link"/>
      <child link="${name}_frame_link"/>
    </joint>
    <link name="${name}_frame_link"/>
    <joint name="${name}_optical" type="fixed">
      <origin xyz="${mount_to_camera_offset} 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="${name}_base_link"/>
      <child link="${name}_optical_link"/>
    </joint>
    <link name="${name}_optical_link"/>

    <!-- gazebo for camera -->
    <gazebo reference="${name}_frame_link">
      <sensor type="camera" name="camera_camera_cam">
        <camera name="camera">
          <horizontal_fov>1.76</horizontal_fov>
          <image>
            <width>1920</width>
            <height>1200</height>
            <format>B8G8R8</format>
          </image>
          <distortion>
            <k1>0</k1>
            <k2>0</k2>
            <p1>0</p1>
            <p2>0</p2>
            <k3>0</k3>
          </distortion>
        </camera>
        <plugin name="${name}_camera_plugin" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>30</updateRate>
          <cameraName>camera</cameraName>
          <imageTopicName>resized/image</imageTopicName>
          <cameraInfoTopicName>resized/camera_info</cameraInfoTopicName>
          <frameName>${name}_optical_link</frameName>
          <hackBaseline>0</hackBaseline>
          <autoDistortion>true</autoDistortion>
          <borderCrop>true</borderCrop>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
