<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="true"/>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="robot_name" default="kuroko"/>
  <arg name="use_trajectory_control" default="false"/>
  <arg name="spawn_enemy" default="false"/>
  <arg name="enemy_name" default="enemy"/>
  <arg name="wait_after_spawn" default="3.0"/>

  <!-- expected_models: robot_name ring_model [enemy_name] -->
  <arg name="base_models" default="$(arg robot_name) ground_plane"/>
  <arg name="enemy_model"
    default="$(eval arg('enemy_name') if arg('spawn_enemy') else '')"/>
  <arg name="expected_models"
    default="$(eval '{} {}'.format(arg('base_models'), arg('enemy_model')).strip())"/>

  <rosparam file="$(find kuroko_gazebo)/config/gazebo_pid.yaml" ns="$(arg robot_name)"
    command="load"/>
  <rosparam file="$(find kuroko_gazebo)/config/gazebo_dc_motor.yaml" ns="$(arg robot_name)"
    command="load"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- add file path to kuroko -->
    <env name="GAZEBO_MODEL_PATH" value="$(find kuroko_description)/../:$(optenv GAZEBO_MODEL_PATH)"/>
    <arg name="world_name" value="$(find kuroko_description)/worlds/default.world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  <!-- load model with sdf for simulation,urdf for vizualization -->
  <!-- Load the URDF into the ROS Parameter Server -->
  <!-- Convert xacro and put on parameter server -->
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find kuroko_description)/xacro/kuroko/kuroko.xacro' gazebo:=false"/>
  <param name="robot_description_gazebo"
    command="$(find xacro)/xacro '$(find kuroko_description)/xacro/kuroko/kuroko.xacro' gazebo:=true"/>

  <!-- Spawn a robot into Gazebo -->
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="robot_urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
    output="screen"
    args="
    -urdf -model $(arg robot_name) -param robot_description_gazebo
    -x -0.9 -y 0.0 -z 0.32
    -J ankle_l_roll -0.17453292519943295
    -J ankle_l_yaw 0.0
    -J ankle_r_roll 0.17453292519943295
    -J ankle_r_yaw 0.0
    -J chest 0.0
    -J elbow_l_front 2.007128639793479
    -J elbow_l_rear -2.007128639793479
    -J elbow_r_front -2.007128639793479
    -J elbow_r_rear 2.007128639793479
    -J hip_l_pitch 0.0
    -J hip_l_roll -0.17453292519943295
    -J hip_r_pitch 0.0
    -J hip_r_roll -0.17453292519943295
    -J shin_l_active 0.0
    -J shin_r_active 0.0
    -J shoulder_l_pitch -1.1344640137963142
    -J shoulder_l_roll -1.4311699866353502
    -J shoulder_r_pitch 1.1344640137963142
    -J shoulder_r_roll 1.4311699866353502
    -J thigh_l_active 0.0
    -J thigh_r_active 0.0
    "/>

  <group unless="$(arg use_trajectory_control)">
    <rosparam file="$(find kuroko_gazebo)/config/joint_control_position.yaml" ns="$(arg robot_name)"
      command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="$(arg robot_name)"
      args="
      joint_state_controller
      chest_position
      shoulder_r_pitch_position
      shoulder_r_roll_position
      elbow_r_front_position
      elbow_r_rear_position
      shoulder_l_pitch_position
      shoulder_l_roll_position
      elbow_l_front_position
      elbow_l_rear_position
      hip_r_roll_position
      hip_r_pitch_position
      thigh_r_active_position
      shin_r_active_position
      ankle_r_roll_position
      ankle_r_yaw_position
      hip_l_roll_position
      hip_l_pitch_position
      thigh_l_active_position
      shin_l_active_position
      ankle_l_roll_position
      ankle_l_yaw_position
      "/>
  </group>
  <group if="$(arg use_trajectory_control)">
    <rosparam file="$(find kuroko_gazebo)/config/joint_control_trajectory.yaml"
      ns="$(arg robot_name)" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="$(arg robot_name)"
      args="
      joint_state_controller
      trajectory_controller"/>
  </group>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen" ns="$(arg robot_name)">
    <param name="publish_frequency" value="200"/>
    <param name="ignore_timestamp" value="false"/>
    <param name="use_tf_static" value="false"/>
  </node>
  <!-- Spawn an enemy into Gazebo -->
  <group if="$(arg spawn_enemy)">
    <rosparam file="$(find kuroko_gazebo)/config/gazebo_pid.yaml" ns="$(arg enemy_name)"
      command="load"/>
    <rosparam file="$(find kuroko_gazebo)/config/gazebo_dc_motor.yaml" ns="$(arg enemy_name)"
      command="load"/>
    <param name="enemy_description"
      command="$(find xacro)/xacro '$(find kuroko_description)/xacro/kuroko/enemy.xacro' gazebo:=true"/>
    <node name="enemy_urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="
      -urdf -param enemy_description -model $(arg enemy_name)
      -x 0.9 -y 0.0 -z 0.32 -Y 3.1416
      -J ankle_l_roll -0.17453292519943295
      -J ankle_l_yaw 0.0
      -J ankle_r_roll 0.17453292519943295
      -J ankle_r_yaw 0.0
      -J chest 0.0
      -J elbow_l_front 2.007128639793479
      -J elbow_l_rear -2.007128639793479
      -J elbow_r_front -2.007128639793479
      -J elbow_r_rear 2.007128639793479
      -J hip_l_pitch 0.0
      -J hip_l_roll -0.17453292519943295
      -J hip_r_pitch 0.0
      -J hip_r_roll -0.17453292519943295
      -J shin_l_active 0.0
      -J shin_r_active 0.0
      -J shoulder_l_pitch -1.1344640137963142
      -J shoulder_l_roll -1.4311699866353502
      -J shoulder_r_pitch 1.1344640137963142
      -J shoulder_r_roll 1.4311699866353502
      -J thigh_l_active 0.0
      -J thigh_r_active 0.0
      "/>
    <group unless="$(arg use_trajectory_control)">
      <rosparam file="$(find kuroko_gazebo)/config/joint_control_position.yaml"
        ns="$(arg enemy_name)" command="load"/>
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="$(arg enemy_name)"
        args="
      joint_state_controller
      chest_position
      shoulder_r_pitch_position
      shoulder_r_roll_position
      elbow_r_front_position
      elbow_r_rear_position
      shoulder_l_pitch_position
      shoulder_l_roll_position
      elbow_l_front_position
      elbow_l_rear_position
      hip_r_roll_position
      hip_r_pitch_position
      thigh_r_active_position
      shin_r_active_position
      ankle_r_roll_position
      ankle_r_yaw_position
      hip_l_roll_position
      hip_l_pitch_position
      thigh_l_active_position
      shin_l_active_position
      ankle_l_roll_position
      ankle_l_yaw_position
      "/>
    </group>
    <group if="$(arg use_trajectory_control)">
      <rosparam file="$(find kuroko_gazebo)/config/joint_control_trajectory.yaml"
        ns="$(arg enemy_name)" command="load"/>
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="$(arg enemy_name)"
        args="
      joint_state_controller
      trajectory_controller"/>
    </group>
  </group>

  <!-- unpause script -->
  <group unless="$(arg paused)">
    <node pkg="kuroko_gazebo" type="unpause_physics.py" name="unpause_physics" output="screen">
      <param name="expected_models" value="$(arg expected_models)"/>
      <param name="wait_after_spawn" value="$(arg wait_after_spawn)"/>
    </node>
  </group>
</launch>
