<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arm_r_xacro">
    <!-- Link conencts from body. Shoulder first. -->
    <joint name="shoulder_r_pitch" type="revolute">
      <parent link="chest_link"/>
      <child link="shoulder_r_pitch_link"/>
      <origin xyz="0 -0.1275 0.01275" rpy="0 0 0"/>
      <axis xyz="0 -1 0"/>
      <limit effort="1000.0" lower="-3.1" upper="3.1" velocity="10.0"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>
    <link name="shoulder_r_pitch_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://kuroko_description/meshes/kuroko/obj/shoulder_r_pitch.obj"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 -0.024 0" rpy="0 0 0" size="0.042 0.048 0.04"/>
      <xacro:box_inertial xyz="0 -0.024 0" rpy="0 0 0" size="0.042 0.048 0.04" mass="0.022"/>
    </link>
    <joint name="shoulder_r_roll" type="revolute">
      <parent link="shoulder_r_pitch_link"/>
      <child link="shoulder_r_roll_link"/>
      <origin xyz="0 -0.038 0" rpy="0 0 0"/>
      <axis xyz="-1 0 0"/>
      <limit effort="1000.0" lower="-1.0472" upper="2.0071" velocity="10.0"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>
    <link name="shoulder_r_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://kuroko_description/meshes/kuroko/obj/shoulder_r_roll.obj"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 -0.016 -0.02575" rpy="0 0 0" size="0.0285 0.082 0.08"/>
      <xacro:box_inertial xyz="0 -0.016 -0.02575" rpy="0 0 0" size="0.0285 0.082 0.08"
        mass="0.342"/>
    </link>
    <joint name="elbow_r_front" type="revolute">
      <parent link="shoulder_r_roll_link"/>
      <child link="elbow_r_front_link"/>
      <origin xyz="0 0.008 -0.052" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="1000.0" lower="-2.6180" upper="2.6180" velocity="10.0"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>
    <link name="elbow_r_front_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://kuroko_description/meshes/kuroko/obj/elbow_r_front.obj"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0.0043 0 -0.104" rpy="0 0 0" size="0.01085 0.058 0.208"/>
      <xacro:box_collision xyz="-0.0206 0 -0.201" rpy="0 0 0" size="0.039 0.058 0.014"/>
      <xacro:box_inertial xyz="0.0043 0 -0.104" rpy="0 0 0" size="0.044 0.058 0.208" mass="0.032"/>
    </link>
    <joint name="elbow_r_rear" type="revolute">
      <parent link="shoulder_r_roll_link"/>
      <child link="elbow_r_rear_link"/>
      <origin xyz="0 0.008 -0.052" rpy="0 0 0"/>
      <axis xyz="0 -1 0"/>
      <limit effort="1000.0" lower="-2.6180" upper="2.6180" velocity="10.0"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>
    <link name="elbow_r_rear_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://kuroko_description/meshes/kuroko/obj/elbow_r_rear.obj"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="-0.0043 0 -0.1" rpy="0 0 0" size="0.01085 0.044 0.2"/>
      <xacro:box_collision xyz="0.0206 0 -0.193" rpy="0 0 0" size="0.039 0.044 0.014"/>
      <xacro:box_inertial xyz="-0.0043 0 -0.1" rpy="0 0 0" size="0.044 0.044 0.2" mass="0.031"/>
    </link>
  </xacro:macro>
</robot>
