<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="leg_l_xacro" params="gazebo:=false">

    <joint name="hip_l_roll" type="revolute">
      <parent link="waist_link"/>
      <child link="hip_l_roll_link"/>
      <origin xyz="0 0 -0.08425" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="3.1" lower="-1.864" upper="0.555" velocity="6.5"/>
      <dynamics damping="0.476923" friction="0.0"/>
    </joint>
    <link name="hip_l_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/hip_l_roll.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0.00125 0.0065 -0.004125" rpy="0 0 0" size="0.092 0.041 0.03625"/>
      <xacro:box_inertial xyz="0.00125 0.0065 -0.004125" rpy="0 0 0" size="0.092 0.041 0.03625" mass="0.026"/>
    </link>
    <joint name="hip_l_pitch" type="revolute">
      <parent link="hip_l_roll_link"/>
      <child link="hip_l_pitch_link"/>
      <origin xyz="0 0.027 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="3.1" lower="-3.1" upper="3.1" velocity="6.9"/>
      <dynamics damping="0.449275" friction="0.0"/>
    </joint>
    <link name="hip_l_pitch_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/hip_l_pitch.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="-0.00175 0.049 -0.015" rpy="0 0 0" size="0.067 0.098 0.0585"/>
      <xacro:box_inertial xyz="-0.00175 0.049 -0.015" rpy="0 0 0" size="0.067 0.098 0.0585" mass="0.478"/>
    </link>
    <joint name="thigh_l_active" type="revolute">
      <parent link="hip_l_pitch_link"/>
      <child link="thigh_l_active_link"/>
      <origin xyz="0.015 0.02925 -0.0305" rpy="0 -0.785398163 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="8.9" lower="-0.4974" upper="1.8588" velocity="6.9"/>
      <dynamics damping="1.289855" friction="0.0"/>
    </joint>
    <link name="thigh_l_active_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/thigh_l_active.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0445 0.114"/>
      <xacro:box_inertial xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0445 0.114" mass="0.012"/>
    </link>
    <joint name="shin_l_active" type="revolute">
      <parent link="hip_l_pitch_link"/>
      <child link="shin_l_active_link"/>
      <origin xyz="-0.0185 0.02925 -0.0305" rpy="0 1.047197551 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="8.9" lower="-1.8588" upper="0.4974" velocity="6.9"/>
      <dynamics damping="1.289855" friction="0.0"/>
    </joint>
    <link name="shin_l_active_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/shin_l_active.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="-0.004745 0 -0.015" rpy="0 0 0" size="0.02349 0.0445 0.044"/>
      <xacro:box_inertial xyz="-0.004745 0 -0.015" rpy="0 0 0" size="0.02349 0.0445 0.044" mass="0.008"/>
    </link>

    <joint name="thigh_l_middle_passive" type="revolute">
      <parent link="hip_l_pitch_link"/>
      <child link="thigh_l_middle_passive_link"/>
      <origin xyz="-0.0185 0.02925 -0.0305" rpy="0 -0.785398163 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="0.0" lower="-3.1" upper="3.1" velocity="100.0"/>
      <dynamics damping="0" friction="0.0"/>
      <mimic joint="thigh_l_active" multiplier="1" offset="0"/>
    </joint>
    <xacro:if value="$(arg gazebo)">
      <xacro:gazebo_poassive_joint name="thigh_l_middle_passive_loop" xyz="-0.0335 0 0" parent="knee_l_passive_link" child="thigh_l_middle_passive_link" axis="0 1 0"/>
    </xacro:if>
    <link name="thigh_l_middle_passive_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/thigh_r_middle_passive.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0345 0.114"/>
      <xacro:box_inertial xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0345 0.114" mass="0.012"/>
    </link>

    <xacro:unless value="$(arg gazebo)">
      <joint name="thigh_l_rear_passive_mimic" type="revolute">
        <parent link="shin_l_active_link"/>
        <child link="thigh_l_rear_passive_mimic_link"/>
        <origin xyz="0 0 -0.03" rpy="0 -1.832597551 0"/>
        <axis xyz="0 1 0"/>
        <limit effort="0.0" lower="-3.1" upper="3.1" velocity="100.0"/>
        <dynamics damping="0" friction="0.0"/>
        <mimic joint="shin_l_active" multiplier="-1" offset="0"/>
      </joint>
      <link name="thigh_l_rear_passive_mimic_link"/>
      <joint name="thigh_l_rear_passive" type="revolute">
        <parent link="thigh_l_rear_passive_mimic_link"/>
        <child link="thigh_l_rear_passive_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit effort="0.0" lower="-3.1" upper="3.1" velocity="100.0"/>
        <dynamics damping="0" friction="0.0"/>
        <mimic joint="thigh_l_active" multiplier="1" offset="0"/>
      </joint>
    </xacro:unless>
    <xacro:if value="$(arg gazebo)">
      <joint name="thigh_l_rear_passive" type="revolute">
        <parent link="shin_l_active_link"/>
        <child link="thigh_l_rear_passive_link"/>
        <origin xyz="0 0 -0.03" rpy="0 -1.832597551 0"/>
        <axis xyz="0 1 0"/>
        <limit effort="0.0" lower="-0.9948" upper="1.5708" velocity="100.0"/>
        <dynamics damping="0" friction="0.0"/>
      </joint>
      <xacro:gazebo_poassive_joint name="thigh_l_rear_passive_loop" xyz="-0.00765471 0 -0.02897777" parent="shin_l_rear_passive_link" child="thigh_l_rear_passive_link" axis="0 1 0"/>
    </xacro:if>
    <link name="thigh_l_rear_passive_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/thigh_r_rear_passive.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0285 0.114"/>
      <xacro:box_inertial xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0285 0.114" mass="0.011"/>
    </link>

    <joint name="knee_l_passive" type="revolute">
      <parent link="thigh_l_active_link"/>
      <child link="knee_l_passive_link"/>
      <origin xyz="0 0 -0.1" rpy="0 0.785398163 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="0.0" lower="-1.8588" upper="0.4974" velocity="100.0"/>
      <dynamics damping="0" friction="0.0"/>
      <mimic joint="thigh_l_active" multiplier="-1" offset="0"/>
    </joint>
    <link name="knee_l_passive_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/knee_r_passive.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="-0.01675 0 0" rpy="0 0 0" size="0.0475 0.0505 0.014"/>
      <xacro:box_inertial xyz="-0.01675 0 0" rpy="0 0 0" size="0.0475 0.0505 0.014" mass="0.007"/>
    </link>
    <joint name="shin_l_front_passive" type="revolute">
      <parent link="knee_l_passive_link"/>
      <child link="shin_l_front_passive_link"/>
      <origin xyz="0 0 0" rpy="0 0.785398163 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="0.0" lower="-1.8588" upper="0.4974" velocity="100.0"/>
      <dynamics damping="0" friction="0.0"/>
      <mimic joint="shin_l_active" multiplier="1" offset="0"/>
    </joint>
    <link name="shin_l_front_passive_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/shin_r_front_passive.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0385 0.114"/>
      <xacro:box_inertial xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0385 0.114" mass="0.013"/>
    </link>
    <joint name="shin_l_rear_passive" type="revolute">
      <parent link="knee_l_passive_link"/>
      <child link="shin_l_rear_passive_link"/>
      <origin xyz="-0.0335 0 0" rpy="0 0.785398163 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="0.0" lower="-1.8588" upper="0.4974" velocity="100.0"/>
      <dynamics damping="0" friction="0.0"/>
      <mimic joint="shin_l_active" multiplier="1" offset="0"/>
    </joint>
    <xacro:if value="$(arg gazebo)">
      <xacro:gazebo_poassive_joint name="shin_l_rear_passive_loop" xyz="-0.0335 0 0" parent="ankle_l_pitch_passive_link" child="shin_l_rear_passive_link" axis="0 1 0"/>
    </xacro:if>
    <link name="shin_l_rear_passive_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/shin_r_rear_passive.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0445 0.114"/>
      <xacro:box_inertial xyz="0 0 -0.05" rpy="0 0 0" size="0.014 0.0445 0.114" mass="0.016"/>
    </link>

    <joint name="ankle_l_pitch_passive" type="revolute">
      <parent link="shin_l_front_passive_link"/>
      <child link="ankle_l_pitch_passive_link"/>
      <origin xyz="0 0 -0.1" rpy="0 -0.785398163 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="0.0" lower="-0.4974" upper="1.8588" velocity="100.0"/>
      <dynamics damping="0" friction="0.0"/>
      <mimic joint="shin_l_active" multiplier="-1" offset="0"/>
    </joint>
    <link name="ankle_l_pitch_passive_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/ankle_r_pitch_passive.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="-0.0285 0 -0.013" rpy="0 0 0" size="0.0855 0.0325 0.0465"/>
      <xacro:box_inertial xyz="-0.0285 0 -0.013" rpy="0 0 0" size="0.0855 0.0325 0.0465" mass="0.104"/>
    </link>
    <joint name="ankle_l_roll" type="revolute">
      <parent link="ankle_l_pitch_passive_link"/>
      <child link="ankle_l_roll_link"/>
      <origin xyz="-0.015 0 -0.027" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="3.1" lower="-1.5708" upper="0.3704" velocity="6.5"/>
      <dynamics damping="0.476923" friction="0.0"/>
    </joint>
    <link name="ankle_l_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/ankle_l_roll.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 0.009375 -0.01175" rpy="0 0 0" size="0.0365 0.05375 0.043"/>
      <xacro:box_inertial xyz="0 0.009375 -0.01175" rpy="0 0 0" size="0.0365 0.05375 0.043" mass="0.136"/>
    </link>
    <joint name="ankle_l_yaw" type="revolute">
      <parent link="ankle_l_roll_link"/>
      <child link="ankle_l_yaw_link"/>
      <origin xyz="0 0 -0.03825" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit effort="3.1" lower="-3.1" upper="3.1" velocity="6.5"/>
      <dynamics damping="0.476923" friction="0.0"/>
    </joint>
    <link name="ankle_l_yaw_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${MESH_DIR}/kuroko/stl/ankle_r_yaw.stl"/>
        </geometry>
      </visual>
      <xacro:box_collision xyz="0 0 -0.004" rpy="0 0 0" size="0.12 0.075 0.008"/>
      <xacro:box_inertial xyz="0 0 -0.004" rpy="0 0 0" size="0.12 0.075 0.008" mass="0.043"/>
    </link>


  </xacro:macro>
</robot>
